
.contacts1 {

}


.contacts {
    display: flex;
    justify-content: flex-end;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
}

.contacts__item{
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
    margin-left: 30px;
}

.contacts__item:last-child{
    margin-bottom: 0;
}

.contacts__item:first-child{
    padding-left: 0;
    margin-left: 0;
}

.contacts__item:before{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    position: absolute;
    top: 0;
    left: -20px;
}

.contacts__item--phone {
    text-aligh: right;
}

.contacts__item--phone:before{
    background-image: url('../images/phone.png')
}

.contacts__item--post {
    font-family: "Open Sans";
}

.contacts__item--mail:before{
    background-image: url('../images/mail.png')
}

.contacts__subitem{
    margin-bottom: 10px;
}

.contacts__subitem:last-child{
    margin-bottom: 0;
}

.contact__link{
    color: #313131;
    display: block;
}

.contact__link:hover{
    color: white;
    text-decoration: underline;
}

.contact__link--right{
    text-align: right;
}

.contact__link--s{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}

.b {
    font-family: "Open Sans";
    position: relative;
    top: 2px;
    left: 123px;
}

@media screen and (max-width: 800px) {
    .contacts {
        /* по умолчанию блочный элемент */
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        min-width: 200px;
    }
}