
.contacts1 {

}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    flex-basis: 250px;
}

.contacts__list{
    margin-top: 8px;
}

.contacts__item {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.contacts__item:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    margin-right: 20px;
    align-self: flex-start;
}

.contacts__item--phone:before {
    background-image: url('../images/phone.png')
}

.contacts__item--mail:before {
    background-image: url('../images/mail.png')
}

.contacts__subitem {
    margin-bottom: 4px;
    font-family: "PT Sans Narrow";
}

.contacts__subitem:last-child {
    margin-bottom: 0;
}

.contact__link {
    color: #313131;
    display: block;
}

.contact__link:hover {
    color: white;
    text-decoration: underline;
}

.contact__link--right {
    text-align: right;
}

.contact__link--s {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
}

.b {
    font-family: "Open Sans";
    position: relative;
    top: 2px;
    left: 123px;
}

@media screen and (max-width: 800px) {
    .contacts {
        /* по умолчанию блочный элемент */
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        min-width: 200px;
    }
}